.fighters {
	padding: 50px;
	/*background-image: url("../images/fightBackground.png");*/
}

.friendlyFighter {
  height: 50px;
  width: 50px;
}

.yourFighter {
  height: 200px;
  width: 200px;
  padding: 5px;
  /*background-color: #118111; */
  transform: scaleX(-1);
  position: relative
}

.enemyFighter {
  height: 200px;
  width: 200px;
  padding: 5px;
  /*background-color: #FF7F65;*/
  position: relative
}

.fighterDescription {
  color: #FFF;
}

.main {
  background-image: url("http://i.imgur.com/P7YtjLv.jpg");
  color: #FFF;
  background-color: #000;
  padding: 50px;
}

.fullHP {
  color: #118111;
}

.noHP {
  color: #FF7F65;
}

#attackButton #potionButton {
  color: #000;
}


